<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Coupon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<h1>Create Coupon</h1>

<form th:action="@{/coupon/save}" method="post" th:object="${coupon}" class="container mt-4">
    <div class="mb-3">
        <label for="coupon"><i class="fas fa-ticket-alt"></i> Coupon Code:</label>
        <input type="text" id="coupon" name="code" class="form-control" required>
        <span class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
    </div>

    <div class="mb-3">
        <label for="associatedItem"><i class="fas fa-link"></i> Associated Item:</label>
        <select id="associatedItem" name="type" class="form-select">
            <option value="GENERAL" id="generalOption"><i class="fas fa-cog"></i> General</option>
            <option value="PRODUCT"><i class="fas fa-box"></i> Product</option>
            <option value="CATEGORY"><i class="fas fa-tags"></i> Category</option>
        </select>
    </div>

    <div id="productSection" style="display: none;">
        <label for="product"><i class="fas fa-box-open"></i> Product:</label>
        <select id="product" name="product" class="form-select">
            <option th:each="product : ${productList}" th:text="${product.productName}" th:value="${product.id}"></option>
        </select>
    </div>

    <div id="categorySection" style="display: none;">
        <label for="category"><i class="fas fa-folder-open"></i> Category:</label>
        <select id="category" name="category" class="form-select">
            <option th:each="category : ${categoryList}" th:text="${category.categoryName}" th:value="${category.id}"></option>
        </select>
    </div>

    <div class="mb-3">
        <label for="discount"><i class="fas fa-percent"></i> Discount:</label>
        <input type="number" id="discount" name="discount" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="expirationPeriod"><i class="fas fa-calendar"></i> Expiration Period:</label>
        <input type="date" id="expirationPeriod" name="expirationPeriod" class="form-control"  required>
    </div>

    <div class="mb-3">
        <label for="couponStock"><i class="fas fa-boxes"></i> Coupon Stock:</label>
        <input type="number" id="couponStock" name="couponStock" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="maximumDiscountAmount"><i class="fas fa-money-bill"></i> Maximum Discount Amount:</label>
        <input type="number" id="maximumDiscountAmount" name="maximumDiscountAmount" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Create</button>
</form>

<script th:src="@{/js/coupon.js}"></script>

</body>
</html>
