<!DOCTYPE html>


<!-- beautify ignore:start -->

<html
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Coupon Details</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/app/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/app/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/app/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/app/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/app/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/app/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/app/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/app/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/app/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/dashboard/admin" class="app-brand-link">
              <span class="app-brand-logo demo">
              <img src="/images/icons/logo-01.png" alt="IMG-LOGO" width="100px">
              </span>

            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item ">
              <a href="/dashboard/admin" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <!-- users  -->
            <li class="menu-item">
              <a href="/dashboard/users" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Analytics">Users</div>
              </a>
            </li>


             <!-- Categories  -->
             <li class="menu-item">
              <a href="/category/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-category"></i>
                <div data-i18n="Analytics">Categories</div>
              </a>
            </li>

             <!-- Products  -->
             <li class="menu-item">
              <a href="/product/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-chip"></i>
                <div data-i18n="Analytics">Products</div>
              </a>
            </li>

             <!-- Variants  -->
             <li class="menu-item">
              <a href="/variant/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-carousel"></i>
                <div data-i18n="Analytics">Variants</div>
              </a>
            </li>

             <!-- Orders  -->
             <li class="menu-item">
              <a href="/order/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-package"></i>
                <div data-i18n="Analytics">Orders</div>
              </a>
            </li>
             <!-- Banners  -->
             <li class="menu-item">
              <a href="/banner/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-photo-album"></i>
                <div data-i18n="Analytics">Banners</div>
              </a>
            </li>
             <!-- Coupons  -->
             <li class="menu-item active">
              <a href="/coupon/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-star"></i>
                <div data-i18n="Analytics">Coupons</div>
              </a>
            </li>


          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->






          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                  <button class="btn-sm btn-info" >Search</button>
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">


                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="/app/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="/app/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/logout">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">

                 <!-- DETAIL VIEW -->


                    <div class="card pb-3">
                      <h5 class="card-header">Coupon Details</h5>



                        <div class="container mt-1" id="mainContainer">

                            <div class="d-flex justify-content-end">
                                <button onclick="editCoupon()" id="editBtn" type="button" class="btn btn-warning m-1">Edit</button>
                                <button  data-bs-toggle="modal" data-bs-target="#exampleModal" hidden id="deleteBtn" type="button" class="btn btn-danger m-1">Delete</button>



                            </div>

                            <form  th:action="@{/coupon/update}" th:object="${coupon}"  method="post">
                                <fieldset disabled id="couponFieldset">



                                    <div class="mb-3  col-lg-4"  id="idIn">
                                        <label  class="form-label">ID</label>

                                        <input id="couponId" th:value="${coupon.id}" name="id" type="text" class="form-control">


                                    </div>
                                    <div class="mb-3 col-lg-2">
                                        <label class="form-label">Status</label>
                                        <select name="enabled" class="form-select" required>
                                            <option value=true th:selected="${coupon.isDeleted == false}">Enabled</option>
                                            <option value=false th:selected="${coupon.isDeleted == true}">Disabled</option>
                                        </select>
                                    </div>

                                    <div class="mb-3  col-lg-2"  id="varProd">
                                        <label  class="form-label">Code</label>

                                        <input type="text" id="code" name="code" class="form-control" th:value="${coupon.code}" readonly>

                                    </div>

                                    <div class="mb-3  col-lg-6"  id="varTyp">
                                        <label  class="form-label">Applicable For</label>

                                        <input type="hidden" id="associatedItem" name="associatedItem" th:value="${coupon.type.toString()}">
                                        <input type="text" class="form-control" readonly th:value="${coupon.type.toString()}">

                                    </div>
                                    <div id="productSection" th:if="${coupon.type == 'PRODUCT'}">
                                        <label for="product"><i class="fas fa-box-open"></i> Product:</label>
                                        <input type="text" name="product" class="form-control" readonly th:value="${coupon.product.productName}">
                                    </div>

                                    <div id="categorySection" th:if="${coupon.type == 'CATEGORY'}">
                                        <label for="category"><i class="fas fa-folder-open"></i> Category:</label>
                                        <input type="text" name="category" class="form-control" readonly th:value="${coupon.category.categoryName}">
                                    </div>

                                    <div class="mb-3  col-lg-2">
                                        <label  class="form-label">Discount:</label>
                                        <input type="number" id="discount" name="discount" class="form-control" th:value="${coupon.discount}" required>

                                    </div>


                                    <div class="mb-3  col-sm-3 col-md-1  col-lg-2">
                                        <label for="maximumDiscountAmount"><i class="fas fa-money-bill"></i> Maximum Discount Amount:</label>
                                        <input type="number" id="maximumDiscountAmount" name="maximumDiscountAmount" class="form-control" th:value="${coupon.maximumDiscountAmount}" required>

                                    </div>

                                    <div class="mb-3 col-sm-2 col-md-1  col-lg-2">
                                        <label  class="form-label">Remaining Stock</label>
                                        <input type="number" id="couponStock" name="couponStock" class="form-control" th:value="${coupon.couponStock}" required>

                                    </div>

                                    <div class="col-md-4 col-lg-2">
                                        <label for="validationCustom06" class="form-label">Expiry Date</label>
                                        <input th:value="${coupon.expirationPeriod}" type="date" name="expirationPeriod" class="form-control" id="validationCustom06" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>

                                    <div class="mb-3" id="passSection" hidden>

                                    </div>

                                    <div class="mb-3"  id="saveBtn" hidden>
                                        <button   type="submit" class="btn btn-success m-1">Save</button>
                                        <button type="button" class="btn btn-warning mt-1 editable-field" id="cancelBtn" onclick="window.location.reload()" hidden="hidden">Cancel</button>

                                    </div>

                                </fieldset>
                            </form>


<!--                            <div class="container mt-5">-->
<!--                                <div class="table-responsive">-->
<!--                                    <legend class="">Coupon Redemption History</legend>-->
<!--                                    <table class="table table-bordered table-hover mb-5">-->
<!--                                        <thead class="table-primary">-->
<!--                                        <tr>-->
<!--                                            <th >#</a></th>-->
<!--                                            <th onclick="sortTable('createdAt')"><a href="#">Date</a></th>-->
<!--                                            <th onclick="sortTable('uuid')"><a href="#">Order</a></th>-->
<!--                                            <th onclick="sortTable('userInfo')"><a href="#">User</a></th>-->
<!--                                            <th onclick="sortTable('offPrice')"><a href="#">Price Off</a></th>-->

<!--                                        </tr>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--                                        <tr th:each="order, rowIndex : ${orders}">-->
<!--                                            <td th:text="${rowIndex.count + (currentPage * pageSize)}"></td>-->
<!--                                            <td th:text="${order.getFormattedCreatedAt}"></td>-->
<!--                                            <td>-->
<!--                                                <a th:text="${order.uuid}"-->
<!--                                                   th:href="@{/order/{uuid}(uuid=${order.uuid})}"-->
<!--                                                   data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="right" data-bs-html="true" title="" data-bs-original-title="<span>View Variant Details</span>"-->
<!--                                                >-->
<!--                                                </a>-->
<!--                                            </td>-->
<!--                                            <td th:text="${order.userInfo.username}"></td>-->
<!--                                            <td th:text="${order.offPrice}"></td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->

<!--                                    <input type="hidden" th:value="${sort}" id="sortOrder">-->

<!--                                    &lt;!&ndash; Pagination &ndash;&gt;-->
<!--                                    <div th:unless="${empty}" class="pagination d-flex justify-content-end mt-3">-->
<!--                                        <ul class="pagination">-->
<!--                                            <li class="page-item prev" th:classappend="${currentPage == 0 ? 'disabled' : ''}">-->
<!--                                                <a class="page-link" th:href="@{/coupon/{uuid}(uuid=${coupon.uuid}, page=0, sort=${sort}, field=${field})}"><i class="tf-icon bx bx-chevrons-left"></i></a>-->
<!--                                            </li>-->

<!--                                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}" th:classappend="${pageNum == currentPage ? 'active' : ''}">-->
<!--                                                <a class="page-link" th:href="@{/coupon/{uuid}(uuid=${coupon.uuid}, page=${pageNum}, sort=${sort}, field=${field})}" th:text="${pageNum + 1}"></a>-->
<!--                                            </li>-->

<!--                                            <li class="page-item next" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">-->
<!--                                                <a class="page-link" th:href="@{/coupon/{uuid}(uuid=${coupon.uuid}, page=${totalPages - 1}, sort=${sort}, field=${field})}"><i class="tf-icon bx bx-chevrons-right"></i></a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->

<!--                                    <div th:if="${empty}" class="alert alert-warning mt-3" role="alert">-->
<!--                                        No redemptions!-->
<!--                                    </div>-->


<!--                                </div>-->

<!--                            </div>-->

                        </div>




                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form  th:action="@{/coupon/delete}" th:object="${coupon}"  method="post">
                                        <div class="modal-body">
                                            <p>Are you sure that you want to delete the coupon?</p>
                                            <p name="couponnameModal" th:text="${name}"></p>
                                            <input hidden th:value="${coupon.id}" name="id" type="text" class="form-control" placeHolder="Id">

                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button  type="submit" value="CouponInfo"  class="btn btn-danger">Delete</button>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>





                    </div>








                  </div>
                </div>



               </div>



            </div>
            <!-- / Content -->








            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">

            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->



    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/app/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/app/assets/vendor/libs/popper/popper.js"></script>
    <script src="/app/assets/vendor/js/bootstrap.js"></script>
    <script src="/app/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/app/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/app/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/app/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/app/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>


    <script>
    function editCoupon(){
        const editBtn = document.getElementById("editBtn");
        const deleteBtn = document.getElementById("deleteBtn");
        const saveBtn = document.getElementById("saveBtn");
        const cancelBtn = document.getElementById("cancelBtn");
        const couponFieldset = document.getElementById("couponFieldset");
        const idIn = document.getElementById("idIn");
      //  const varProd = document.getElementById("varProd");
        const passSection = document.getElementById("passSection");

        cancelBtn.hidden=false;
        passSection.hidden=false;
        idIn.hidden=true;
      //  varProd.hidden=true;
        couponFieldset.disabled=false;
        editBtn.hidden=true;
        deleteBtn.hidden=false;
        saveBtn.hidden=false;

    }

    function saveCoupon(){
        const editBtn = document.getElementById("editBtn");
        const deleteBtn = document.getElementById("deleteBtn");
        const saveBtn = document.getElementById("saveBtn");
        const cancelBtn = document.getElementById("cancelBtn");
        const couponFieldset = document.getElementById("couponFieldset");
        const idIn = document.getElementById("idIn");
      //  const varProd = document.getElementById("varProd");
        const passSection = document.getElementById("passSection");

        cancelBtn.hidden=true;
        passSection.hidden=true;
        idIn.hidden=false;
       // varProd.hidden=false;
        couponFieldset.disabled=true;
        editBtn.hidden=false;
        deleteBtn.hidden=true;
        saveBtn.hidden=true;

    }
    function deleteCoupon(){
        //show coupon deleted, link to dashboard
        const modal = bootstrap.Modal.getInstance(exampleModal)
        const delContainer = document.getElementById("delContainer");
        const mainContainer = document.getElementById("mainContainer");
        modal.hide();
        delContainer.hidden=false;
        mainContainer.hidden=true;

        //call api to delete coupon



    }
</script>
<script>
    //PAGINATION
  /*<![CDATA[*/
  function sortTable(field) {
    var sort = document.getElementById("sortOrder").value;
    var couponId = document.getElementById("couponId").value;

    if (sort === "ASC" || sort === "") {
      sort = "DESC";
    } else {
      sort = "ASC";
    }

    var currentPage = /*[[${currentPage}]]*/ 0;
    var pageSize = /*[[${pageSize}]]*/ 10;

    window.location.href = "/coupon/"+ couponId +"?page=" + currentPage + "&size=" + pageSize + "&field=" + field + "&sort=" + sort;

  }
  /*]]>*/
</script>

  </body>
</html>
