<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form role="form" th:action="@{/category/update}" method="post" th:object="${category}">
                <legend class="text-center">Update Category</legend>
                <fieldset>
                    <div class="form-group col-md-12">
                        <label for="categoryName">Category Name</label>
                        <input type="text" class="form-control" name="categoryName" id="categoryName" placeholder="Category Name" th:value="${category.categoryName}">
                        <span class="text-danger" th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></span>
                    </div>
                    <input type="hidden" name="id" th:value="${id}">
                </fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>